@page
@using TRPZ_PrintService.Data
@model TRPZ_PrintService.Pages.ManageOrders

@{
    Layout = "Shared/_Layout";
}
<h2>Orders</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            OrderId
        </th>
        <th>
            Client
        </th>
        <th>
            Order Status
        </th>
        <th>
            Price
        </th>
        <th>
            Models
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.OrderId)

            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Client.FirstName)
                @Html.DisplayFor(modelItem => order.Client.LastName)
            </td>
            <td>
                @switch (order.Status)
                {
                    case Order.OrderStatus.NotSent:
                        <span>Not sent</span>
                        break;
                    case Order.OrderStatus.Sent:
                        <span>Sent</span>
                        break;
                    case Order.OrderStatus.Confirmed:
                        <span>Confirmed</span>

                        break;
                    case Order.OrderStatus.Finished:
                        <span>Finished</span>

                        break;
                    case Order.OrderStatus.Cancelled:
                        <span>Cancelled</span>

                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.PriceTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Models.Count)

            </td>
            <td>
                <div class="d-flex">
                    <a asp-page="/ModelInOrder" asp-route-id="@order.OrderId" class="mr-2">
                        <button class="btn btn-info">Models</button>
                    </a>
                    @if (order.Status == Order.OrderStatus.Sent)
                    {
                        <form asp-page-handler="SetStatus" asp-route-orderId="@order.OrderId" asp-route-status="confirmed" class="mr-2">
                            <button class="btn btn-primary" type="submit">Confirm</button>
                        </form>                    }
                    @if (order.Status == Order.OrderStatus.Confirmed)
                    {
                        <form asp-page-handler="SetStatus" asp-route-orderId="@order.OrderId" asp-route-status="finished" class="mr-2">
                            <button class="btn btn-primary" type="submit">Finish</button>
                        </form>                    }
                    @if (order.Status == Order.OrderStatus.Sent ||
                         order.Status == Order.OrderStatus.Confirmed)
                    {
                        <form asp-page-handler="SetStatus" asp-route-orderId="@order.OrderId" asp-route-status="cancelled" class="mr-2">
                            <button class="btn btn-warning" type="submit">Cancel</button>
                        </form>                    }

                </div>
            </td>
        </tr>
    }
    </tbody>
</table>