@page
@using System.Collections
@model TRPZ_PrintService.Pages.MyOrders

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "My orders";
}

<h2>My orders</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Status
        </th>
        <th>
            Creation date
        </th>
        <th>
            Models
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.OrderId)
            </td>
            <td>
                @if (order.IsSent)
                {
                    <span>Sent</span>
                }
                else if (order.IsConfirmed)
                {
                    <span>Confirmed</span>
                }
                else if (order.IsFinished)
                {
                    <span>Finished</span>
                }
                else
                {
                    <span>Not sent</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Models.Count)
                @* TODO add edit button *@
                <a asp-page="/ModelInOrder" asp-route-id="@order.OrderId"><button class="btn btn-primary">Models</button></a>
            </td>
            <td>
                @if (!(order.IsConfirmed || order.IsFinished))
                {
                    <form asp-page-handler="Remove" asp-route-orderId="@order.OrderId"><button class="btn btn-danger" type="submit">Remove</button></form>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
@* TODO add modal add window*@
<form asp-page-handler="Create">
<button type="submit" class="btn btn-primary" >
    New Order
</button>
</form>

