@page
@using System.Collections
@using TRPZ_PrintService.Data
@model TRPZ_PrintService.Pages.MyOrders

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "My orders";
}

<h2>My orders</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Status
        </th>
        <th>
            Price
        </th>
        <th>
            Creation date
        </th>
        <th>
            Models count
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.OrderId)
            </td>
            <td>
                @switch (order.Status)
                {
                    case Order.OrderStatus.NotSent:
                        <span>Not sent</span>
                        break;
                    case Order.OrderStatus.Sent:
                        <span>Sent</span>
                        break;
                    case Order.OrderStatus.Confirmed:
                        <span>Confirmed</span>

                        break;
                    case Order.OrderStatus.Finished:
                        <span>Finished</span>

                        break;
                    case Order.OrderStatus.Cancelled:
                        <span>Cancelled</span>

                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.PriceTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Models.Count)
            </td>
            <td >
                <div class="d-flex">
                    <a asp-page="/ModelInOrder" asp-route-id="@order.OrderId" class="mr-2">
                        <button class="btn btn-primary">Models</button>
                    </a>
                    @if ((order.Status == Order.OrderStatus.NotSent))
                    {
                        <form asp-page-handler="Send" asp-route-orderId="@order.OrderId" class="mr-2">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>                    }
                    @if ((order.Status == Order.OrderStatus.NotSent))
                    {
                        <form asp-page-handler="Remove" asp-route-orderId="@order.OrderId" class="mr-2">
                            <button class="btn btn-danger" type="submit">Remove</button>
                        </form>                    }
                    @if ((order.Status == Order.OrderStatus.Sent))
                    {
                        <form asp-page-handler="Cancel" asp-route-orderId="@order.OrderId" class="mr-2">
                            <button class="btn btn-warning" type="submit">Cancel</button>
                        </form>                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
@* TODO add modal add window*@
<form asp-page-handler="Create">
    <button type="submit" class="btn btn-primary">
        New Order
    </button>
</form>